﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Entrance Exam Ragistratiion/Ragistration.Master" AutoEventWireup="true" CodeBehind="forgetpassword.aspx.cs" Inherits="OnlineExamManagement.Entrance_Exam_Ragistratiion.forgetpassword" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
