﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Entrance Exam Ragistratiion/Ragistration.Master" AutoEventWireup="true" CodeBehind="registrationID.aspx.cs" Inherits="OnlineExamManagement.Entrance_Exam_Ragistratiion.registrationID" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

      <section class="content py-5">

        <div class=" container ">


            <div class="row">
                <div class=" col-md- mx-auto">

                    <div class="card  ">

                        <div class="card-body ">



                            <div class="row">
                                <div class="col">
                                    <p class="style1 m-1 text-success" style="font-size:25px; font-weight:bold ">Congrats!!! You are Successfully Applied For Entrance Exam</p>
                                    <br />
                                    <h4 class="text-info">A confirmation mail is sent to your Email</h4>

                                </div>
                            </div>

                              <div class="row ">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>


                                 <div class="row">
                                <div class="col">
                                    <p class="style1 m-1 text-primary" style="font-size:20px; font-weight:bold ">Your StudentID :
                                 
                                        
                                        <asp:Label CssClass="  text-dark" ID="Label1" runat="server" Text="Label"></asp:Label>
                                        
                                    </p>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>

            <a href="../Home/Home.aspx" style="color: #28A745; font-weight: bold"><< back to home</a>

                        </div>


                    </div>



                </div>


            </div>


        </div>



    </section>

</asp:Content>
