﻿
.skin-blue .content-header {
    background: transparent;
}

.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}



.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.card-container.card {
    max-width: 500px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    margin: 0 auto 25px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    top: -291px;
    left: 0px;
    height: 300px;
}

.style1 {
    font-size: large;
    text-align: center;
    min-height: 1em;
    font-family: Arial font-size: large;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}


