﻿body{
 font-family: 'Roboto', sans-serif;
 position: relative;
 background: #fbfbfb;
 font-size:15px;
 color: #3d3d3d;
 overflow-x:hidden;
}
html, body{ 
height:100%; width:100%;
}
h2, h3, h4{
 font-family: 'Raleway', sans-serif;
}
.page-title h5, .page-title a{
 font-family: 'Roboto';
 font-weight:lighter;
}
ol, ul{
 list-style:none;
 margin: 0;
 padding: 0;
}

a{
  color:inherit;
  text-decoration: none;
}
a:hover, a:focus {
 text-decoration: none;
 outline: none;
}


#topheader {
    background-color: #fdfdfd;
    border: 2px solid #666666;
    border-bottom: 1px solid #666666;
}
#topheader a{
    color :#000000;
    font-weight :600;
    font-size:1rem;
}

#topheader a:hover{
    color:#989898;
    
}
#bottomheader {
    background-color: #000000;
    border-bottom: 1px solid #596275;
}
.container-fluid{
    padding-left:0px;
    padding-right:0px;
}
nav ul li a {
    font-size: 1.1rem;
    font-weight: 600;
   
}



/*..................................................footer css.........................................*/
.footer {
    background: #222222;
    position: relative;
}

    .footer a, #footer p, ul.list li::before, .opening-hourse ul li {
        color: #CCCCCC;
    }

        .footer a:focus, .footer a:hover, .footer a:active {
            color: #666666;
        }

    .footer .widget .widget-title {
        margin-top: 0px;
    }

#footer p {
    font-weight: 300;
}

#footer .copy-right {
    font-size: 12px;
}

.line-bottom-theme-colored-2::after {
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;
}

.line1 {
    float: left;
    height: 5px;
    width: 40px;
}

.small-title {
    margin-bottom: 40px;
    margin-top: 20px;
}

.line2 {
    float: left;
    height: 1px;
    margin-top: 2px;
    width: 78px;
}

.widget.dark .widget-title {
    color: #fff;
}

.widget .widget-title {
    margin-bottom: 20px;
    margin-top: 0;
}

.line-bottom-theme-colored-2 {
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
}

.widget-title {
    font-size: 22px;
    text-transform: uppercase;
}

.widget {
    margin-bottom: 30px;
}

    .widget.dark .list-border li {
        border-bottom: 1px dashed #404040;
        transition: all 0.5s linear 0s;
    }
    
        .widget.dark .list-border li:hover {
            margin-left: 10px;
            
        }

    .widget ul.list li, .widget .post {
        margin-bottom: 8px;
        padding-bottom: 8px;
    }

.border-bottom {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 65px;
    
}

.pt-70 {
    padding-top: 70px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.fas{
    color:red;
}

.widget ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.opening-hourse ul li {
    padding: 4px 0 16px;
}



.layer-overlay.overlay-dark-8::before {
    /*	background-color: rgba(17, 17, 17, 0.8);*/
}

.layer-overlay {
    position: relative;
}

    .layer-overlay::before {
        /*	background: rgba(17, 17, 17, 0.5);*/
        content: " ";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

.widget.dark .widget-title {
    color: #fff;
}

.widget .widget-title {
    margin-bottom: 20px;
    margin-top: 0;
}

.text-gray {
    color: #808080;
}

.btn-xs {
    font-size: 11px;
    padding: 3px 14px;
}

.bg-black-333 {
    background-color: #242424;
    padding-top: 35px;
}

.mt-30 {
    margin-top: 30px;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
    font-size: 12px;
}

span.input-group-btn button {
    color: #fff;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.call-to-action {
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.pt-30 {
    padding-top: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.btn-theme-colored {
    background-color: #fff;
    border: 1px solid #fff;
}

.btn-flat {
    border-radius: 0;
}

.widget.no-border ul li {
    border: medium none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-bottom p{
    color:black;
    font-size: 15px;
}



#image-text {

    background-image: url('../Assets/Image and Icon/bg-text.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
}

    #image-text .image-text-heading > h2 {
        color: #fff;
        font-size: 50px;
        font-weight: normal;
        font-family: 'Roboto';
    }

    #image-text .image-text-heading span {
        font-weight: bold;
    }


#pagedata h1{
    font-size: 28px;
    color: #ED2A28;
    font-weight: 500;
    padding: 0px 0px 20px 0px;
    margin-bottom: 0;
    margin-top: 0;
}