﻿<%@ Page Title="" Language="C#" MasterPageFile="~/student/student.Master" AutoEventWireup="true" CodeBehind="studenthome.aspx.cs" Inherits="OnlineExamManagement.student.studenthome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


     <section class="content pt-5">

        <div class=" container ">


            <div class="row">
                <div class=" col-md-8 mx-auto">

                    <div class="card  ">

                        <div class="card-body ">



                            <div class="row">
                                <div class="col">
                                    <p class="style1 m-1 text-success" style="font-size:25px; font-weight:bold ">Congrats!!! You are Successfully Applied For Entrance Exam</p>
                                   
                                </div>
                            </div>

                              <div class="row ">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>


                                 <div class="row">
                                <div class="col">
                                    <p class="style1 m-1 text-primary" style="font-size:20px; font-weight:bold ">Your StudnetID :
                                 
                                        
                                        <asp:Label CssClass=" text-dark" ID="Label1" runat="server" Text="Label"></asp:Label>
                                        
                                    </p>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>

            <a href="../Home/Home.aspx" style="color: #28A745; font-weight: bold"><< back to home</a>

                        </div>


                    </div>



                </div>


            </div>


        </div>



    </section>


</asp:Content>
